{% extends 'accounts/base.html' %}
{% load humanize %}
{% load tags %}
{% load static %}
{% block content %}
    <div class="slide-one-item home-slider owl-carousel">
        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/hero_bg_1.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/hero_bg_2.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/hero_bg_3.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/hero_bg_4.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/header1.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/header2.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-blocks-cover overlay" style="background-image: url('{% static "/images/header3.jpg" %}')"
             data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-10">
                        <h1 class="mb-2">Welcome to homeland.</h1>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="site-section site-section-sm pb-0">
        <div class="container">
            <div class="row">
                <form method="POST" class="form-search col-md-12" style="margin-top: -100px;">
                    {% csrf_token %}
                    <div class="row  align-items-end">
                        <div class="col-md-3">
                            <label for="property-name">Property Name</label>
                            <div class="select-wrap">
                                <input type="text" name="property-name" id="property-name"
                                       class="form-control d-block rounded-0">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="select-city">City</label>
                            <div class="select-wrap">
                                <span class="icon icon-arrow_drop_down"></span>
                                <select name="select-city" id="select-city" class="form-control d-block rounded-0">
                                    <option value="All Cities">All Cities</option>
                                    <option value="Bangalore">Bangalore</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Gurugram">Gurugram</option>
                                    <option value="Ghaziabad">Ghaziabad</option>
                                    <option value="New Delhi">New Delhi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="select-state">State</label>
                            <div class="select-wrap">
                                <span class="icon icon-arrow_drop_down"></span>
                                <select name="select-state" id="select-state" class="form-control d-block rounded-0">
                                    <option value="All States">All States</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="submit" class="btn btn-success text-white btn-block rounded-0" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="site-section site-section-sm bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <div class="site-section-title">
                        <h2>Featured Listings</h2>
                    </div>
                    <p>Some of our latest posted properties.</p>
                </div>
            </div>
            <br>
            <div class="row mb-5">
                {% for property in properties %}
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="property-entry h-100">
                            <a href="{% url 'detailed_view_property' property.id %}" class="property-thumbnail">
                                <div class="offer-type-wrap">
                                    <span class="offer-type bg-success">Sale</span>
                                </div>
                                <img src="{{ property.property_image1.url }}" alt="Image" class="img-fluid">
                            </a>
                            <div class="p-4 property-body">
                                <h2 class="property-title"><a
                                        href="{% url 'detailed_view_property' property.id %}">{{ property.property_title }}</a>
                                </h2>
                                <span class="property-location d-block mb-3"><span
                                        class="property-icon icon-room"></span>{{ property.property_city }}, {{ property.property_state }}</span>
                                <strong class="property-price text-primary mb-3 d-block text-success">₹{{ property.property_price | currency_in_indian_format }}</strong>
                                <ul class="property-specs-wrap mb-3 mb-lg-0">
                                    <li>
                                        <span class="property-specs">Posted By :</span>
                                        <span class="property-specs-number">{{ property.property_seller_name.username }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <div class="site-section-title">
                        <h2>Why Choose Us?</h2>
                    </div>
                    <p>The core of our expertise is the residential Real Estate market all throughout India. On the
                        sales market, as a “buyer’s broker” Homeland. represents, in the buying process, a wide
                        range of
                        clientele, from foreign buyer to first time homeowner. As a “seller’s broker” the company
                        brings
                        its expertise and experience to assure our seller to get the highest price for his
                        property. 
                        It’s a point of honor for the company to offer extraordinary service to its clientele and to
                        follow up closely as a team throughout the transaction.</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="service text-center">
                        <span class="icon flaticon-house"></span>
                        <h2 class="service-heading">Buy Properties</h2>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="service text-center">
                        <span class="icon flaticon-sold"></span>
                        <h2 class="service-heading">Sell Properties</h2>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="service text-center">
                        <span class="icon flaticon-camera"></span>
                        <h2 class="service-heading">Security Priority</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<div class="col-12">
